

@model IEnumerable<TranShop.Models.Product.Product_ProductCategory>

@{
    ViewData["Title"] = "IndexProc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/js/controller/productController.js"></script>
}
<div class="card card-header">
    <div class=" col-md-7">
        <h2 class="text-uppercase font-weight-bold">Quản lý Sản Phẩm</h2>
        <div class="col-md-5">
            <a id="btnThemMoi" class="btn btn-success btn-sm">
                <i class="fas fa-plus"></i>Thêm Sản Phẩm
            </a>
            |
            <a class="btn btn-success btn-sm" asp-action="Trash" id="trash">
                <i class="fas fa-trash-alt"></i>Thùng Rác
            </a>
        </div>
    </div>
</div>

<div class="card card-body p-2" id="view-all">
    <partial name="_ViewAll" model="Model" />
</div>

<div id="divThemMoi" class="d-none">
    <partial name="Create" model="new TranShop.Models.Product.Product_ProductCategory()" />
</div>